 :root {
     --background-color: white;
     --font-size: 100;
     --padding: 10px;
     --border: 1px solid #000;
     --font-weight: 400%;
     --font-sizing: auto;
     --width: 100;
     --font-style: normal;
 }

 body {
     font-family: "roboto", sans-serif;
     background-color: merriweather 0.3s ease-in-out;
     color: rgb(7, 7, 7);
     font-size: var(--font-size);
     font-style: var(--font-style);
     padding: var(--padding);
 }

 h1 {
     background-color: var(--background-color);
     font-size: var(--font-size);
     font-style: var(--font-style);
     padding: var(--padding);
     color: rgb(13, 14, 14);
     position: absolute;
     top: 10px;
     left: 10px;
 }

 h2 {
     background-color: white;
     font-size: 20px;
     font-style: var(--font-style);
     color: salmon;
     position: absolute;
     margin-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     padding: auto;
 }

 p {
     font-size: var(--font-size);
     font-family: sans-serif;
     padding: auto;
     color: rgb(14, 13, 13);
     background-color: white;
 }

 article {
     position: absolute;
     font-style: normal;
     padding: auto;
     background-color: white;
     opacity: auto;

 }

 article img {
     float: right;
 }

 .hero img {
     display: block;
     width: 100;
     height: auto;
 }

 .hero {
     position: relative;
 }

 footer {
     background-color: #d8d6e6;
     color: black;
 }